---
import { type CollectionEntry } from "astro:content";

interface Props {
  projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
---

<ul class="my-3 grid grid-cols-1 sm:grid-cols-2 gap-4">
  {
    projects.map((project) => (
      <li class="rounded-lg p-2 flex flex-col border border-black/15 dark:border-white/30">
        <video
          src={project.data.video}
          class="rounded-md"
          autoplay
          muted
          loop
          tabindex="-1"
        />
        <h4 class="font-bold text-xl my-3">{project.data.title}</h4>
        <p class="text-sm text-black/50 dark:text-white/75">
          {project.data.description}
        </p>
        <div class="flex flex-wrap gap-2 mt-4 mb-8">
          {project.data.tags.map((tag) => (
            <span class="text-sm leading-relaxed py-0.5 px-2 rounded-md border border-black/15 dark:border-white/30">
              {tag}
            </span>
          ))}
        </div>
        <div class="flex gap-2 mt-auto">
          <a
            class="py-1 px-2 rounded-md bg-black text-white dark:bg-white dark:text-black"
            href={project.data.repoURL}
            target="_blank"
          >
            Github
          </a>
          <a
            class="py-1 px-2 rounded-md bg-black text-white dark:bg-white dark:text-black"
            href={`/projects/${project.slug}`}
          >
            Blog
          </a>
          {project.data.liveURL ? (
            <a
              class="py-1 px-2 rounded-md bg-black text-white dark:bg-white dark:text-black"
              href={project.data.liveURL}
              target="_blank"
            >
              Visit
            </a>
          ) : null}
          {project.data.demoURL ? (
            <a
              class="py-1 px-2 rounded-md bg-black text-white dark:bg-white dark:text-black"
              href={project.data.demoURL}
              target="_blank"
            >
              Video
            </a>
          ) : null}
        </div>
      </li>
    ))
  }
</ul>
